:root {
  --primary-color: rgb(3, 7, 240);
  --background-color: rgb(201, 201, 201);
  --card-background: white;
  --text-color: rgb(0, 0, 0);
}

html {
  font-style: normal;
  font-size: large;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
  font-size: 1.2rem;
  margin: auto;
  padding: 10px;
  max-width: 900px;
  gap: 10px;
}

a:hover, a:focus{
  color: var(--primary-color);
  text-decoration:none;
}

head {
  display: flex;
}

.card  {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 5px;
  width: 100%;
}

@media (max-width: 768px) {
  body {
    max-width: 100%;
    padding: 10px;
    gap: 15px;
  }

  img {
  box-shadow: 0 4px 8px black;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  }
}

img {
  box-shadow: 0 4px 8px black;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

ul li::marker {
  color: var(--primary-color);
}
